.content{
    width: 100%;
    height: 100%;
   background: red;
}
.wraper{
    width: 100px;
    height: 100px;
   background: red;
}
form {
    width: 500px;
    height: 500px;
    background-color: aqua;
}